Repository OpenDevicePartnership/embedded-services, pull requests merged in 2025-05, with the labels that each got.

#273 type-c example: Pass in interrupts by slice rather than array
  examples/rt685s-evk/src/bin/type_c.rs
Labels: bug

#266 Battery Service bug and QoL fixes, and fix battery examples
  battery-service/src/context.rs
  battery-service/src/controller.rs
  battery-service/src/device.rs
  battery-service/src/lib.rs
  battery-service/src/wrapper.rs
  examples/rt633/Cargo.toml
  examples/rt633/src/bin/espi_battery.rs
  examples/rt685s-evk/src/bin/embedded_crc.rs
  examples/std/src/bin/battery.rs
Labels: bug, cargo vet

#271 Add helper type to iterate an `IntrusiveList` as an inner data type
  embedded-service/src/intrusive_list.rs
Labels: enhancement

#277 Config attribute for defmt feature on EmbeddedCrcError
  platform-service/src/embedded_crc.rs
Labels: enhancement

#279 Add Platform Reset Service
  Cargo.lock
  examples/rt633/Cargo.lock
  examples/rt685s-evk/Cargo.lock
  examples/rt685s-evk/src/bin/reset.rs
  platform-service/Cargo.toml
  platform-service/src/lib.rs
  platform-service/src/reset.rs
Labels: cargo vet

#285 Create simple RPC channel
  embedded-service/Cargo.lock
  embedded-service/src/ipc/deferred.rs
  embedded-service/src/ipc/mod.rs
  embedded-service/src/lib.rs
Labels: cargo vet

#288 power-policy/type-c: Fix various timing bugs
  embedded-service/src/power/policy/action/policy.rs
  embedded-service/src/power/policy/device.rs
  embedded-service/src/power/policy/mod.rs
  embedded-service/src/type_c/controller.rs
  examples/std/src/bin/power_policy.rs
  examples/std/src/bin/type_c/basic.rs
  type-c-service/src/task.rs
  type-c-service/src/wrapper/mod.rs
  type-c-service/src/wrapper/pd.rs
  type-c-service/src/wrapper/power.rs
Labels: cargo vet

#294 Simplify charger state machine and expose policy driven PSU attach and detach handlers
  embedded-service/src/power/policy/charger.rs
  power-policy-service/src/charger.rs
Labels: bug, enhancement

#320 espi-service: Update to latest espi driver
  Cargo.lock
  espi-service/src/espi_service.rs
  examples/rt633/Cargo.lock
  examples/rt633/src/bin/espi.rs
  examples/rt633/src/bin/espi_battery.rs
  supply-chain/audits.toml
Labels: cargo vet

#319 Misc updates
  Cargo.lock
  Cargo.toml
  embedded-service/src/power/policy/charger.rs
  espi-service/Cargo.toml
  examples/rt633/Cargo.lock
  examples/rt633/Cargo.toml
  examples/rt685s-evk/Cargo.lock
  examples/rt685s-evk/Cargo.toml
  examples/std/Cargo.lock
  examples/std/Cargo.toml
  examples/std/src/bin/battery.rs
  supply-chain/audits.toml
  supply-chain/config.toml
Labels: enhancement, cargo vet

#298 Add Retimer FW status get/set command
  Cargo.lock
  embedded-service/src/type_c/controller.rs
  embedded-service/src/type_c/external.rs
  examples/rt685s-evk/Cargo.lock
  examples/std/Cargo.lock
  examples/std/src/bin/type_c/external.rs
  examples/std/src/bin/type_c/service.rs
  type-c-service/src/driver/tps6699x.rs
  type-c-service/src/task.rs
  type-c-service/src/wrapper/pd.rs
Labels: cargo vet
