Repository OpenDevicePartnership/embedded-services, changes with the owners that CODEOWNERS names for each.
All owners: @OpenDevicePartnership/ec-code-owners, @OpenDevicePartnership/ec-battery-team, @OpenDevicePartnership/ec-cfu-team, @OpenDevicePartnership/ec-espi-team, @OpenDevicePartnership/ec-hid-team, @OpenDevicePartnership/ec-usb-c-pd-team, @OpenDevicePartnership/crate-auditors

Remove no-std badge from README
  README.md
Owners: @OpenDevicePartnership/ec-code-owners

Added cache argument to get_port_status and get_controller_port_status
  embedded-service/src/type_c/external.rs
  examples/rt685s-evk/src/bin/type_c.rs
  examples/std/src/bin/type_c/external.rs
Owners: @OpenDevicePartnership/ec-code-owners

Added missing doc to fix error
  embedded-service/src/lib.rs
Owners: @OpenDevicePartnership/ec-code-owners

Fix running `cargo test` in workspace root
  .github/workflows/check.yml
  Cargo.lock
  Cargo.toml
  battery-service/Cargo.toml
  cfu-service/Cargo.toml
  embedded-service/Cargo.toml
  embedded-service/src/comms.rs
  embedded-service/src/critical_section_cell.rs
  embedded-service/src/hid/mod.rs
  embedded-service/src/intrusive_list.rs
  espi-service/Cargo.toml
  espi-service/rust-toolchain.toml
  espi-service/rustfmt.toml
  examples/rt633/Cargo.toml
  examples/rt685s-evk/Cargo.toml
  examples/std/Cargo.toml
  hid-service/Cargo.toml
  partition-manager/generation/Cargo.toml
  partition-manager/generation/src/tests/access.rs
  partition-manager/generation/src/tests/duplicate.rs
  partition-manager/generation/src/tests/overflow.rs
  partition-manager/generation/src/tests/overlap.rs
  partition-manager/generation/src/tests/unaligned.rs
  partition-manager/macros/Cargo.toml
  partition-manager/partition-manager/Cargo.toml
  partition-manager/partition-manager/src/test/mock.rs
  partition-manager/partition-manager/src/test/mod.rs
  platform-service/Cargo.toml
  power-button-service/Cargo.toml
  power-policy-service/Cargo.toml
  power-policy-service/src/lib.rs
  rust-toolchain.toml
  type-c-service/Cargo.toml
  type-c-service/src/wrapper/mod.rs
Owners: @OpenDevicePartnership/ec-code-owners, @OpenDevicePartnership/ec-battery-team, @OpenDevicePartnership/ec-cfu-team, @OpenDevicePartnership/ec-espi-team, @OpenDevicePartnership/ec-hid-team, @OpenDevicePartnership/ec-usb-c-pd-team

Implement initial thermal service
  Cargo.lock
  Cargo.toml
  examples/std/Cargo.lock
  examples/std/Cargo.toml
  examples/std/src/bin/thermal.rs
  supply-chain/audits.toml
  thermal-service/Cargo.toml
  thermal-service/src/context.rs
  thermal-service/src/fan.rs
  thermal-service/src/lib.rs
  thermal-service/src/mptf.rs
  thermal-service/src/sensor.rs
  thermal-service/src/utils.rs
Owners: @OpenDevicePartnership/ec-code-owners, @OpenDevicePartnership/crate-auditors

CODEOWNERS:

* @OpenDevicePartnership/ec-code-owners
/battery-service @OpenDevicePartnership/ec-battery-team
/cfu-service @OpenDevicePartnership/ec-cfu-team
/espi-service @OpenDevicePartnership/ec-espi-team
/hid-service @OpenDevicePartnership/ec-hid-team
/power-policy-service @OpenDevicePartnership/ec-battery-team @OpenDevicePartnership/ec-usb-c-pd-team
/type-c-service @OpenDevicePartnership/ec-usb-c-pd-team

# Any changes in the supply-chain folder needs approval
# from auditors as it relates to cargo vet
**/supply-chain @OpenDevicePartnership/crate-auditors
